In [14]:
import pandas as pd
import os

In [4]:
results_dataframe = pd.DataFrame({
    "Team" : ['MOABIT','KREUZBERG','FROHNAU','ADLERSHOF','WEDDING','TEGEL','PANKOW','TREPTOW','FORCHDORF'],
    "CO2-Emission(t/a)" : [21809.12, 14058.26, 21055.68, 15515.54, 17623.42, 9623.63, 8904.09, 32924.31, 7833.61],
    "Total Costs of Energy System per Year(Mio. €/a)" : [12.74, 21.92, 10.77, 47.33, 46.41, 122.81, 45.14, 13.97, 16.89],
    "Self-Sufficiency(%)" : [64.74, 73.43, 99.67, 65.85, 92.87, 100.00, 99.16, 0 , 95.13] })

In [6]:
results_dataframe.set_index('Team')

,CO2-Emission(t/a),Total Costs of Energy System per Year(Mio. €/a),Self-Sufficiency(%)
Team,,,
MOABIT,21809.12,12.74,64.74
KREUZBERG,14058.26,21.92,73.43
FROHNAU,21055.68,10.77,99.67
ADLERSHOF,15515.54,47.33,65.85
WEDDING,17623.42,46.41,92.87
TEGEL,9623.63,122.81,100.00
PANKOW,8904.09,45.14,99.16
TREPTOW,32924.31,13.97,0.00
FORCHDORF,9894.04,17.20,95.50

In [13]:
results_dataframe.to_csv((r'F:\winpython64\WPy64-3830\notebooks\oemof-dev\results_df.csv'))

In [17]:
results_dataframe = pd.read_csv((r'F:\winpython64\WPy64-3830\notebooks\oemof-dev\Graphical Representation of Results\results_df.csv'))

In [ ]:
print(results_)